<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> React Native Apps </h3>
    <p>various apps made in react native</p>
    <a class="project-link" href="https://github.com/rsulxo/React-Native-Apps">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Games created using p5.js </h3>
    <p>A few games created using p5.js library</p>
    <a class="project-link" href="https://github.com/rsulxo/p5.js-Projects">Check it out</a>
  </div>
</div>
